doctype html
html(lang="en")
    head
        script.
            if (location.pathname.slice(-1) !== '/') window.location = location.pathname + '/';
        title= title
        // Meta tags
        meta(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Twitter
        meta(name="twitter:site", content="@cakeswastaken")
        meta(name="twitter:creator", content="@cakeswastaken")
        meta(name="twitter:title", content=`${title}`)
        meta(name="twitter:description", content=`${metaDesc || 'a simple blog for a simple person.'}`)
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:image", content=`https://haiiro.moe/~cakes${ogImage || "/images/og-image.png"}`)
        // Open Graph
        meta(property="og:title", content=`${title}`)
        meta(property="og:description", content=`${metaDesc || 'a simple blog for a simple person.'}`)
        meta(property="og:type", content="website")
        meta(property="og:url", content=`${canonical}`)
        meta(property="og:image", content=`https://haiiro.moe/~cakes${ogImage || "/images/og-image.png"}`)
        // Favicon
        link(rel="icon", type="image/png", href="/~cakes/favicon.png")
        // Other links
        link(rel="canonical", href=`${canonical}`)
        // Highlight.js
        link(rel="stylesheet", href="/~cakes/highlight/styles/dark.css")
        // test
        script.
            const t = localStorage.getItem('theme');
            if (t) {
                document.documentElement.classList.add(`${t}`);
            }
        // Fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic+Coding:wght@400;700&display=swap")
        // Tags
        if post
            if post.tags
                meta(name="keywords", content=`blog, simple, creative, personal, haiiro, cakes, cakeswastaken, ${post.tags.join(', ')}`)
        else
            meta(name="keywords", content="blog, simple, creative, personal, haiiro, cakes, cakeswastaken")
        // CSS
        link(rel="stylesheet", href="/~cakes/style.css")
        // Matomo
        script#matomo.
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "//analytics.haiiro.moe/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.async = true;
                g.src = u + 'matomo.js';
                s.parentNode.insertBefore(g, s);
            })();
    body
        unless currentPage === 'home'
            include ../includes/nav.pug
        block content
        include ../includes/footer.pug