div#nav
    div.links.container
        a(href="/~cakes", class=`link${currentPage === 'home' ? " active": ''}`) home
        a(href="/~cakes/posts", class=`link${currentPage === 'posts' ? " active": ''}`) posts
        div.logo haiiro
        a(href="/~cakes/links", class=`link${currentPage === 'links' ? " active" : ''}`) links
        a(href="/~cakes/about", class=`link${currentPage === 'about' ? " active" : ''}`) about
input#theme-switch(type="checkbox")
div#nav-mobile
    div.logo haiiro
    div.links.container
        a(href="/~cakes/", class=`link${currentPage === 'home' ? " active": ''}`) home
        a(href="/~cakes/posts", class=`link${currentPage === 'posts' ? " active": ''}`) posts
        a(href="/~cakes/links", class=`link${currentPage === 'links' ? " active" : ''}`) links
        a(href="/~cakes/about", class=`link${currentPage === 'about' ? " active" : ''}`) about
